In [2]:
import pandas as pd

In [3]:
ufo = pd.read_csv('data/ufo.csv')

In [4]:
ufo_df = ufo.copy()

In [5]:
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'])
print(ufo_df['Time'].dt.year.mode()[0])

1999

In [6]:
ufo_df.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [7]:
ufo_df['Date'] = ufo_df['Time'].dt.date
print(round(ufo_df[ufo_df['State'] == 'NV']['Date'].diff().dt.days.mean()))

69